###> composer ###
vendor/
composer.lock
###< composer ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> IDE ###
.idea
.vscode
###< IDE ###

###> OS ###
.directory
.DS_Store
.DS_Store?
._*
.*.sw[op]
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
###< OS ###

